@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.home-container {
  background: v.$color-primary_2;
  transition: v.$transition;

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .welcome {
      width: 20rem;
      text-align: center;
      margin: 0.6rem 0 2rem;
      font-size: 1.5rem;
      font-family: v.$header_font;

      @include m.desktop {
        width: 30rem;
        font-size: 2rem;
      }
    }

    &__img-wrapper {
      width: 35rem;
      height: 20rem;
      max-width: 80%;
      max-height: 50vh;
      border-radius: 9rem 9rem 2rem 2rem;
      overflow: hidden;
      margin-bottom: 1.5rem;
      @include m.tablet {
        width: 50rem;
        height: 30rem;
      }
    }
  }
}
