@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

#animals {
  background: v.$color-primary_2;
}
.animal-container {
  background-color: hsl(132°, 11%, 54%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
  border-radius: 5px;
  position: relative;

  @include m.tablet {
    width: 60%;
    height: 50vh;
    margin-top: 10%;
  }
  @include m.desktop {
    width: 80%;
    height: 70vh;
    gap: 1%;
    margin-top: 5%;
  }
  &__desc {
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: v.$header_font;

    @include m.desktop {
      font-size: 2rem;
      letter-spacing: 1.5px;
    }
  }

  &__name {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-family: v.$myFont_family;
  }

  &__imgwrapper {
    height: 60%;
    margin: 0;
    border-radius: 2px;
    border-radius: v.$border-radius-3;
    transition: v.$transition;
    overflow: hidden;
    @include m.desktop {
      height: 75%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }

  .btn {
    margin-bottom: 5px;
    font-family: v.$all_text;
    background-color: #0f0f0f;
    &:hover {
      background-color: transparent;
      border-color: v.$color-white;
      color: black;
    }
  }
}
// .animal-container {
//   // margin: 0 auto;
//   max-width: 1000px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
//   grid-auto-rows: auto;
//   gap: 20px;

//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 10px;
//   font-family: sans-serif;
//   padding-top: 30px;

//   &__animal {
//     box-sizing: border-box;

// &__image {
//   width: 100%;
//   height: 150px;
//   object-fit: cover;
//   display: block;
//   border-top: 2px solid #333333;
//   border-right: 2px solid #333333;
//   border-left: 2px solid #333333;
// }

//     &__content {
//       line-height: 1.5;
//       font-size: 0.9em;
//       padding: 15px;
//       background: #fafafa;
//       border-right: 2px solid #333333;
//       border-left: 2px solid #333333;
//     }

//     p {
//       margin-top: 0;
//     }

//     .card__info {
//       padding: 15px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       color: #555555;
//       background: #eeeeee;
//       font-size: 0.8em;
//       border-bottom: 2px solid #333333;
//       border-right: 2px solid #333333;
//       border-left: 2px solid #333333;
//     }
//   }
// }
