@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

#animals {
  background: v.$color-primary_2;
}
.animal-container {
  background-color: hsl(132°, 11%, 54%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
  border-radius: 5px;
  position: relative;

  @include m.tablet {
    width: 60%;
    height: 50vh;
    margin-top: 10%;
  }
  @include m.desktop {
    width: 80%;
    height: 70vh;
    gap: 1%;
    margin-top: 5%;
  }

  &__desc {
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: v.$header_font;

    @include m.desktop {
      font-size: 2rem;
      letter-spacing: 1.5px;
    }
  }

  &__name {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-family: v.$myFont_family;
  }

  &__imgwrapper {
    height: 60%;
    margin: 0;
    border-radius: 2px;
    border-radius: v.$border-radius-3;
    transition: v.$transition;
    overflow: hidden;
    @include m.desktop {
      height: 75%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }

  .btn {
    margin-bottom: 5px;
    font-family: v.$all_text;
    background-color: #0f0f0f;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    &:hover {
      background-color: transparent;
      border-color: v.$color-white;
      color: black;
    }
  }
}

.custom-btn {
  position: relative;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background: rgb(183, 206, 17);
}
