@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.big-container {
  margin: auto 0;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 3%;
  gap: 2%;

  @include m.tablet {
    width: 85%;
  }
  @include m.desktop {
    width: 90%;
  }
}
