@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

#about {
  background: v.$color-primary_2;
}
.about__container {
  display: grid;
  grid-template-columns: 35% 53%;
  gap: 12%;

  @include m.desktop {
    .about__container {
      grid-template-columns: 3fr;
    }
  }

  .about__portrait {
    height: fit-content;
    max-height: 40rem;
    border: 1rem solid white;
    transition: v.$transition;
    margin-top: 50px;
    padding: 50px;
  }

  .about__portrait:hover {
    border-width: 0;
  }

  .about__cards {
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @include m.tablet {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  .about__card {
    text-align: center;
  }

  h5 {
    margin: 1rem 0;
  }

  p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: v.$header_font;
  }
}

@include m.desktop {
  h2 {
    text-align: center;
  }
}
