$dark: #374151;
$darker: #1f2937;
$darker: #1f2937;
$darkest: #111827;
$grey: #6b7280;
$pink: #ec4899;
$purple: #8b5cf6;
$light: #eee;
$green: #68dea0;
$myFont_family: 'Indie Flower', cursive;
$tablet_breakpont: 678px;
$desktop_breakpoint: 1200px;
